<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout}"
>
  <section layout:fragment="content">
    <div class="container">
      <br />
      <h1>게시판</h1>
      <br />
      <div id="post__list">
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>제목</th>
              <th>작성자</th>
              <th>날짜</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="post : ${post}">
              <td th:text="${post.id}"></td>
              <td>
                <a th:href="@{'/board/' + ${post.id}}"> <span th:text="${post.title}"> </span></a>
              </td>
              <td th:text="${post.author.userName}"></td>
              <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <th:block th:each="page : ${#numbers.sequence(page.startPage, page.totalPage)}">
              <li class="page-item">
                <a class="page-link" th:href="@{'/board?page=' + ${page}}"><span th:text="${page}"></span></a>
              </li>
            </th:block>
          </ul>
        </nav>

        <!-- <th:block th:each="page : ${#numbers.sequence(page.startPage, page.totalPage)}">
          <a th:href="@{'/board?page=' + ${page}}">
            <button th:text="${page}"></button>
          </a>
        </th:block> -->
      </div>

      <!-- <span th:text="${page}"> </span> -->
    </div>

    <div align="right" class="col-md-12 left">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">글 등록</button>
    </div>

    <div
      class="modal fade"
      id="savePostsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="savePostsLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="savePostsLabel">게시글 등록</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form th:action="@{/post/save}" method="post">
              <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력하세요" />
              </div>
              <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea
                  class="form-control"
                  name="content"
                  id="content"
                  placeholder="내용을 입력하세요"
                  style="resize: none; height: 300px"
                ></textarea>
              </div>
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary" id="btn-write">등록</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/lib/jquery.min.js"></script>
    <script>
      const board = {
        init: function () {
          $("#btn-write").on("click", () => {
            this.clickWriteBtn();
          });
        },
        csrf: {
          token: $("meta[name='_csrf']").attr("content"),
          header: $("meta[name='_csrf_header']").attr("content"),
        },
        clickWriteBtn: function () {
          const data = {
            title: $("#title").val(),
            content: $("#content").val(),
          };

          const { token, header } = this.csrf;

          $.ajax({
            type: "POST",
            url: "/post/save",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            beforeSend: function (xhr) {
              xhr.setRequestHeader(header, token);
            },
          })
            .done(function (result) {
              if (result.msg === "save") {
                alert("게시글이 등록되었습니다.");
                location.reload();
              } else {
                alert("게시글 등록에 실패했습니다. 다시 작성해주세요");
                location.reload();
              }
            })
            .fail(function (error) {
              alert("error");
              console.log(error);
            });
        },
      };

      board.init();
    </script>
  </section>
</html>
